label {
  display: block;
  text-align: start;
  font-weight: 500;
  color: black;
}

.inputContainer {
  margin-bottom: 10px;
  position: relative;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.inputWrapper .icon {
  position: absolute;
  left: 20px;
  color: red;
  font-size: 1rem;
  transition: color 0.25s ease;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px 10px 10px 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

input[type="text"]:focus {
  outline: none;
  border-color: blue;
}

input[type="email"] {
  flex-grow: 1;
  padding: 10px 10px 10px 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

input[type="email"]:focus {
  outline: none;
  border-color: white;
}

input[type="password"] {
  flex-grow: 1;
  padding: 10px 10px 10px 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

input[type="password"]:focus {
  outline: none;
}

.error {
  color: #e74c3c;
  font-size: 12px;
  margin-top: 5px;
}

.btnForm {
  margin-top: 10px;
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(45deg, red, black);
  color: white;
  font-weight: bold;
  transition: transform 0.25s ease, background 0.25s ease;
}

.btnForm:hover {
  background: linear-gradient(45deg, red, black);
  transform: scale(1.05);
}
